{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "no-trailing-spaces": "off",
    "arrow-parens": "off",
    "require-jsdoc": 0,
    "space-before-function-paren": "off",
    "max-len": ["error", { "code": 120 }],
    "indent": ["error", 2, { "MemberExpression": 1 }],
    "curly": "off"
  },
  "extends": ["eslint:recommended", "google"]
}