.excel__formula
  position absolute
  top: headerHeight + toolbarHeight
  right 0
  left 0
  height formulaHeight
  display flex
  align-items center
  border-bottom: 1px solid borderColor
  color: #888

  & .info
    font-size: 18px
    font-style italic
    text-align: center
    border-right: 1px solid borderColor
    min-width: infoCellWidth

  & .input
    padding 4px
    font-size: 12px
    outline: none 
    width 100%
    height 100%
    color: #000